<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Cuisine Restaurant</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
				<header>
					<nav>
						<ul>
							<li><img src="https://image.shutterstock.com/image-vector/magnifying-glass-search-icon-flat-600w-738763579.jpg" alt="search" height="50px" width="50px"></li>
							<li><img src="https://image.shutterstock.com/image-vector/shopping-cart-icon-vector-illustration-600w-1726574749.jpg" alt="cart" height="50px" width="50px"></li>
							<li>Home</li>
							<li>Home</li>
							<li>Home</li>
							<li>Home</li>
							<li>Home</li>
							<li>Home</li>	
						</ul>
					</nav>
				</header>
			<section class="welcome">
				<h1>Welcome<br> to Our Cuisine<br> Restaurant</h1>
				<input type="search" form="search">
				<button>Location</button>
				<section class="socials">
					<a href="https://www.facebook.com/"><img src="https://image.shutterstock.com/image-vector/facebook-icon-vector-illustration-social-600w-2109892373.jpg" alt="face" height="50px" width="50px"></a>
					<a href="https://twitter.com/home"><img src="https://image.shutterstock.com/image-photo/valencia-spain-march-05-2017-600w-601425683.jpg" alt="twittter" height="50px" width="50px"></a>
					<a href="https://www.instagram.com/"><img src="https://image.shutterstock.com/image-vector/camera-icon-photo-frame-on-600w-1779908711.jpg" alt="insta" height="50px" width="50px"></a>
				</section>
			</section>
		</main>
		<section class="about">
			<span>About Us</span>
			<h2>Discover Our<br> Restaurant Story</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptates dolorum maxime<br>
				 voluptate nesciunt dolores doloribus modi fugit possimus. 
				Alias suscipit illo nam magnam <br>iusto sunt saepe consequuntur sed dolorum totam?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptates dolorum maxime<br>
				voluptate nesciunt dolores doloribus modi fugit possimus. 
				Alias suscipit illo nam magnam <br>iusto sunt saepe consequuntur sed dolorum totam?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
				<hr>
				<br>Voluptates dolorum maxime<br>
				voluptate nesciunt dolores doloribus modi fugit possimus. 
				Alias suscipit illo nam magnam <br>iusto sunt saepe consequuntur sed dolorum totam?</p>
				<input type="button" value="Discover Menu">
		</section>
		<section class="order">
			<span>Order Online Now</span>
			<h3>Our Speciality Cuisine</h3>
			<a href="#">Breakfast</a>
			<a href="#">Launch</a>
			<a href="#">Dinner</a>
			<a href="#">Dessert</a>
			<a href="#">Shake</a>
			<br><hr><br>
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
			<img src="https://image.shutterstock.com/image-vector/vintage-breakfast-poster-vector-illustration-600w-175069964.jpg" alt="Cuisine" height="600px" width="400px">
		</section>
		<section class="booking">
			<span>Book Table</span>
			<h4>Opening Hours</h4>
			<img src="https://image.shutterstock.com/image-vector/phone-call-vector-icon-style-600w-339104378.jpg" alt="phone" width="100px" height="100px">
			<p>Call Now</p>
			<p>+151515 85478911</p>
			<div>Monday to Friday<br>09:00 AM - 22:00 PM</div>
			<div>Friday to Sunday<br>11:00 AM - 20:00 PM</div>
			<img src="C:\Users\xxx\Desktop\LEON\class10-materials\class10-materials\layout-photos\cuisine\3.jpeg" alt="video-sample">
		</section>
		<section class="customers">
			<span>Testimonials</span>
			<h5>Customer Say</h5>
			<img src="https://image.shutterstock.com/image-vector/portrait-happy-hispanic-man-halfturn-600w-2027662235.jpg" alt="customer" height="200px" width="200px">
			<div>Mr. Joshue Greimore<br>
			Art Director</div>
			<img src="https://image.shutterstock.com/image-vector/five-stars-icon-vector-600w-1313491139.jpg" alt="5 star" height="50px" width="200px">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos expedita quisquam recusandae dolorem,<br> 
				corrupti minus maxime veritatis doloremque animi quidem enim quaerat repudiandae dolorum<br> 
				provident. Earum velit at nulla exercitationem.</p>
				<hr>
		</section>



























		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
